mat-card{
  margin: 5px;
}
mat-card-actions{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
//depois
.form-mat-card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px;
}
